.hContainer{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.vContainer{
    display:flex;
    flex-direction: column;
    height: 100%;
}

#title{
    font-size:35pt;
    font-weight:bold;

    height:200px;
    width:600px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
}
#logo{
    height:200px;
    width:200px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

#mainContainer{
    flex:3;
    background-color: aquamarine;
}
#leftBar,#rightBar{
    flex:0.5;
}

#navBar{
    flex:1;
    background-color: green;
    color:azure;
    font-weight: bold;
    a{
        text-decoration: none;
        text-align: center;
        color:inherit;
        padding: 10px;
    };
    a:hover{
            background-color: darkseagreen;
     }

}

img{
    width:100%;
}

table{
    width:100%;
    padding:10px;
    border-bottom-style:solid;
    border-bottom: 3px;
    border-bottom-color: black;

    td{
        text-align: center;
    }
}