<html>
    <head>

        <link rel="stylesheet" href="./static/css/index.css">
    </head>
    <body>
        <div class="vContainer">

            <!-- FIRST ROW OF WEBSITE -->
            <div class="hContainer">

                <div class="vContainer" id="leftBar"></div>
                <div id="title">
                    RARE GRASSES GALORE
                </div>
                <div id="logo">
                </div>

                <div class="vContainer" id="rightBar"></div>
            </div>

            <!-- SECOND ROW OF WEBSITE -->
            <div class="hContainer">
                <div class="vContainer" id="leftBar"></div>
                <div class= "vContainer" id="navBar">
                    <a href="/">Home</a>
                    <a href="/basic">Grass - Basic</a>
                    <a href="/pro">Grass - PRO</a>
                    <a href="/rare">Grass - Rare</a>
                    <a href="/care">Grass - Care</a>
                    <a href="/about_us">About Us</a>
                    <a href="/contact_us">Contact Us</a>
                    <a href="/terms_and_conditions">Terms and Conditions</a>
                    <a href="/cart">View Cart</a>
                </div>
                <div class="vContainer" id="mainContainer">
                    <div class="hContainer">
                        <a href="/basic" class="vContainer" style="text-align: center; text-decoration: none;">
                            <h3>Basic Grasses for Basic People</h3>
                            <img src = "../static/images/logo.png">
                        </a>
                        <a href="/pro" class="vContainer" style="text-align: center; text-decoration: none;">
                            <h3>Pro Grasses for Pro People</h3>
                            <img src = "../static/images/logo.png">
                        </a>
                    </div>
                    <div class="hContainer">
                        <a href="/rare" class="vContainer" style="text-align: center; text-decoration: none;">
                            <h3>Rare Grasses for Awesome People</h3>
                            <img src = "../static/images/logo.png">
                        </a>
                        <a href="about_us" class="vContainer" style="text-align: center; text-decoration: none;">
                            <h3>How to care for grass better</h3>
                            <img src = "../static/images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="vContainer" id="rightBar"></div>
            </div>
        </div>

        <script src ="./static/js/index.js"></script>
    </body>
</html>