<html>
    <head>

        <link rel="stylesheet" href="./static/css/index.css">
    </head>
    <body>
        <div class="vContainer">

            <!-- FIRST ROW OF WEBSITE -->
            <div class="hContainer">

                <div class="vContainer" id="leftBar"></div>
                <div id="title">
                    RARE GRASSES GALORE
                </div>
                <div id="logo">
                </div>

                <div class="vContainer" id="rightBar"></div>
            </div>

            <!-- SECOND ROW OF WEBSITE -->
            <div class="hContainer">
                <div class="vContainer" id="leftBar"></div>
                <div class= "vContainer" id="navBar">
                    <a href="/">Home</a>
                    <a href="/basic">Grass - Basic</a>
                    <a href="/pro">Grass - PRO</a>
                    <a href="/rare">Grass - Rare</a>
                    <a href="/care">Grass - Care</a>
                    <a href="/about_us">About Us</a>
                    <a href="/contact_us">Contact Us</a>
                    <a href="/terms_and_conditions">Terms and Conditions</a>
                    <a href="/cart">View Cart</a>
                </div>
                <div class="vContainer" id="mainContainer">
                    <h2>
                        PRO GRASS
                    </h2>
                    <p>
                        During the 1998–99 English football season, Gillingham F.C. competed in the Football League Second Division, the third tier of the English football league system. It was the 67th season in which Gillingham competed in the Football League, and the 49th since the club was voted back into the league in 1950. The club signed two new forwards, each for a new club record transfer fee, but started the season in poor form, winning only one of the first eight league games. The team then went on a much-improved run, being undefeated for 17 league games, and began challenging for promotion to the Football League First Division. Gillingham finished the regular season in fourth place in the Second Division, qualifying for the play-offs for promotion to the First Division. After defeating Preston North End in the semi-finals, they played Manchester City at Wembley Stadium in the final, where Manchester City won the concluding penalty shoot-out to gain promotion.
                    </p>
                </div>
                <div class="vContainer" id="rightBar"></div>
            </div>
        </div>

        <script src ="./static/js/index.js"></script>
    </body>
</html>