<html>
    <head>

        <link rel="stylesheet" href="./static/css/index.css">
    </head>
    <body>
        <div class="vContainer">

            <!-- FIRST ROW OF WEBSITE -->
            <div class="hContainer">

                <div class="vContainer" id="leftBar"></div>
                <div id="title">
                    RARE GRASSES GALORE
                </div>
                <div id="logo">
                </div>

                <div class="vContainer" id="rightBar"></div>
            </div>

            <!-- SECOND ROW OF WEBSITE -->
            <div class="hContainer">
                <div class="vContainer" id="leftBar"></div>
                <div class= "vContainer" id="navBar">
                    <a href="/">Home</a>
                    <a href="/basic">Grass - Basic</a>
                    <a href="/pro">Grass - PRO</a>
                    <a href="/rare">Grass - Rare</a>
                    <a href="/care">Grass - Care</a>
                    <a href="/about_us">About Us</a>
                    <a href="/contact_us">Contact Us</a>
                    <a href="/terms_and_conditions">Terms and Conditions</a>
                    <a href="/cart">View Cart</a>
                </div>
                <div class="vContainer" id="mainContainer">
                    <h2>
                        Here is some Rare grass:
                    </h2>
                    <p>
                        Rare grass 1
                        <p id="price_rare_1">$TBA</p>
                        <button onclick="addToCart('rare_1')"> Add to Cart</button>
                    </p>
                    <p>
                        Rare grass 2
                        <p id="price_rare_2">$TBA</p>
                        <button onclick="addToCart('rare_2')"> Add to Cart</button>
                    </p>
                    <p>
                        Rare grass 3
                        <p id="price_rare_3">$TBA</p>
                        <button onclick="addToCart('rare_3')"> Add to Cart</button>
                    </p>
                </div>
                <div class="vContainer" id="rightBar"></div>
            </div>
        </div>

        <script src ="./static/js/products.js"></script>
    </body>
</html>